
#faktura-container {
    width: 794px;
    margin: 20px auto;
    border: 1px solid #000;
    padding: 15px;
    font-family: Arial, sans-serif;
}


.info-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid #000;
}
.strona {
    width: 48%;
    padding: 10px;
}


.tabela-naglowek, .wiersz-danych {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    font-size: 12px;
}
.tabela-naglowek {
    font-weight: bold;
    background-color: #eee;
}


.tabela-naglowek span, .wiersz-danych span {
    width: 15%; 
    padding: 0 5px;
    text-align: right;
    border-right: 1px solid #eee;
}
.tabela-naglowek span:nth-child(2), .wiersz-danych span:nth-child(2) {
    width: 20%;
    text-align: left;
}


.sumy {
    text-align: right;
    margin-top: 10px;
    border-top: 1px solid #000;
    padding-top: 5px;
}

