* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.tekst {
  max-width: 900px;
  margin: 0 auto;
}
.one-column {
  column-count: 1;
  margin-bottom: 30px;
}
.two-column {
	column-count: 2;
	column-gap: 40px;
	margin-bottom: 30px;
}
.three-column {
	column-count: 3;
	column-gap: 40px;
	margin-bottom: 30px;
}
.four-column {
	column-count: 4;
	column-gap: 40px;
	margin-bottom: 30px;
}
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}
.galeria img {
  width: 100%;
  height: 250 px;
  border-radius: 8px;
  object-fit: cover;
  display: block; 
}

.galeria figcaption {
  text-align: center;
  margin-top: 8px;
  color: #555;
}
.formularz {
  max-width: 400px;
  margin: 50px auto;v bn
}


.formularz h1 {
  text-align: center;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

input, textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #007bff;
}


button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
.radio-group {
  margin-top: 8 px;
  margin-bottom: 8 px;
  
}

.radio-group > label:first-child {
  font-weight: bold;
  display: block;
  margin-bottom: 8 px;
}

.radio-option {
  display: inline-block;
  margin-right: 20px;
  font-weight: normal;
}
