/* --- Podstawowe ustawienia strony --- */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f8f8f8;
}

/* --- Kontener faktury z obrazkiem w tle --- */
#faktura-container {
    /* Ustalony rozmiar na podstawie proporcji obrazka */
    width: 794px; 
    height: 1123px; 
    
    background-image: url('fact.webp'); /* Używamy nazwy z Twojego uploadu */
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center top; 
    
    position: relative; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
    background-color: #fff;
}

/* --- Właściwości wspólne dla wszystkich pól danych --- */
.faktura-pole {
    position: absolute; 
    font-size: 11.5px; 
    font-weight: 500; 
    color: #000000; 
    white-space: nowrap; 
    overflow: hidden; 
    box-sizing: border-box;
    padding: 0 3px; 
}

/* --- POZYCJONOWANIE (DOPASOWANE DO OBRAZKA) --- */

/* Nagłówek i data */
#miejscowosc_data { top: 90px; left: 510px; width: 250px; text-align: right; font-size: 13px; }
#termin_platnosci { top: 140px; left: 60px; width: 170px; }
#forma_platnosci { top: 140px; left: 240px; width: 170px; }
#data_dostawy { top: 140px; left: 510px; width: 250px; text-align: right; }

/* Sprzedawca */
#sprzedawca_nazwa_adres { top: 220px; left: 40px; width: 350px; font-weight: bold; }
#sprzedawca_nip { top: 240px; left: 40px; width: 350px; }

/* Nabywca */
#nabywca_nazwa_adres { top: 220px; left: 420px; width: 350px; font-weight: bold; }
#nabywca_nip { top: 240px; left: 420px; width: 350px; }

/* Bank i numer konta */
#sprzedawca_bank_nr_konta { top: 310px; left: 40px; width: 350px; font-family: 'Courier New', Courier, monospace; font-size: 13px; }


/* Pozycje tabeli - DLA PIERWSZEJ LINII (LP=1) */
#lp_1 { top: 350px; left: 10px; width: 25px; text-align: center; }
#nazwa_towaru_1 { top: 350px; left: 45px; width: 230px; }
#jm_1 { top: 350px; left: 285px; width: 40px; text-align: center; }
#ilosc_1 { top: 350px; left: 330px; width: 50px; text-align: right; }
#cena_netto_1 { top: 350px; left: 390px; width: 80px; text-align: right; }
#wartosc_netto_1 { top: 350px; left: 480px; width: 80px; text-align: right; }
#stawka_vat_1 { top: 350px; left: 575px; width: 45px; text-align: center; }
#kwota_vat_1 { top: 350px; left: 630px; width: 70px; text-align: right; }
#wartosc_z_vat_1 { top: 350px; left: 710px; width: 70px; text-align: right; }

/* Sumy z tabeli (RAZEM) */
#netto_sum { top: 580px; left: 480px; width: 80px; text-align: right; font-weight: bold; }
#vat_sum { top: 580px; left: 630px; width: 70px; text-align: right; font-weight: bold; }
#brutto_sum { top: 580px; left: 710px; width: 70px; text-align: right; font-weight: bold; }


/* Sumy końcowe */
#do_zaplaty { top: 730px; left: 90px; width: 130px; font-size: 14px; font-weight: bold; }
#zaplacono { top: 730px; left: 390px; width: 130px; text-align: right; }
#pozostalo { top: 730px; left: 630px; width: 130px; text-align: right; font-weight: bold; }

/* Podpisy */
#dokument_wystawil { top: 880px; left: 50px; width: 300px; text-align: center; }
#dokument_odebral { top: 880px; left: 440px; width: 300px; text-align: center; }